<div class="alert alert-info">We współpracy z InPost i Orlen, Shopee udostępnia nowe kanały - Paczkomat Ekonomiczny i Orlen Paczka. Wskazówki dot. konfiguracji: https://seller.shopee.pl/edu/article/15414</div>
<button type="button" class="btn btn-primary" id="shopee-btn">Zaznacz</button>