<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kubartech prowizje</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
  <div class="page container">
    <div class="page__header"><h1>Prowizje</h1></div>
    <div class="page__content">
      <div class="section">
        <div class="section__header section__header--row"><h2>Formularz prowizji</h2><button type="button" class="btn btn-success btn-sm add" onClick="addRow()"><i class="bi bi-plus"></i> Dodaj nowy wiersz</button></div>
        <div class="section__body">

          <table class="table" id="margin-table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Min</th>
                <th scope="col">Max</th>
                <th scope="col">Marża [zł]</th>
                <th scope="col">Marża [%]</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr id="row-1">
                <th scope="row">1</th>
                <td><input class="form-control form-control-sm" type="number" placeholder="min" id="min-1"></td>
                <td><input class="form-control form-control-sm" type="number" placeholder="max" id="max-1"></td>
                <td><input class="form-control form-control-sm" type="number" placeholder="value" id="value-1"></td>
                <td><input class="form-control form-control-sm" type="number" placeholder="percent" id="percent-1"></td>
                <td> - </td>
              </tr> -->
            </tbody>
          </table>





          <div class="section__footer">
            <button type="button" class="btn btn-primary" id="form-send" onClick="getData()">
              <span class="btn-text">Zapisz do bazy</span>
              <div class="spinner-border spinner-border-sm text-light ms-2" role="status" style="display: none;" id="form-preloader">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
            <button type="button" class="btn btn-info mx-1" id="form-calculate" onClick="calculateMargin()">
              <span class="btn-text">Przelicz</span>
              <div class="spinner-border spinner-border-sm text-dark ms-2" role="status" style="display: none;" id="calculate-preloader">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="page__footer">
      <div class="toast-container" id="alerts"></div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  <script src="/js/main1.js"></script>
  <script>
    var periodsData = '<%- JSON.stringify(data) %>'; // test is now a valid js object
  </script>
</body>
</html>